@import '../Common';

.dashboard,
.analyses {
 .mespatients {
  .section-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    font-size: medium;
   }
  }
 }
 .buttons {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  .allanalyses-btn {
   background-color: $primary-color;
   border-radius: 20px;
   font-weight: normal;
   &:hover {
    background-color: rgba($color: $primary-color, $alpha: 0.9);
   }
  }
 }
 .btn-floating {
  background-color: $secondary-color;
  margin-right: 15px;
  &:hover {
   background-color: $primary-color;
  }
 }
 .section {
  &-header {
   font-weight: lighter;
   font-size: 2.2rem;
   //    padding: 0 20px;
  }
 }
 .collection {
  padding: 0;
  border-radius: 15px;
  .empty-list {
   text-align: center;
   padding: 15px 0;
   font-size: large;
   font-weight: lighter;
   color: $secondary-color;
  }
  &-header {
   margin: 0;
   color: $primary-color;
  }
  &-item {
   transition: 0.25s;
   cursor: pointer;
   padding: 5px 8px !important;
   color: black !important;
   .sub-info {
    margin: 0;
    color: $text-color;
    font-weight: lighter;
    .col {
     padding: 0;
    }
   }
   &:hover {
    color: $primary-color !important;
   }
   &:active {
    color: $secondary-color !important;
   }
  }
 }
}
