input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='username']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4082d4 !important;
  -webkit-box-shadow: 0 1px 0 0 #4082d4 !important;
          box-shadow: 0 1px 0 0 #4082d4 !important;
}

.progress {
  background-color: rgba(64, 130, 212, 0.5) !important;
}

.progress .indeterminate {
  background-color: #8bc34a !important;
}

.datepicker-date-display {
  background-color: #4082d4 !important;
}

.datepicker-day-button:focus {
  color: white !important;
  background-color: #a2b0b6 !important;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li > span,
.is-today {
  color: #4082d4 !important;
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
  background-color: #4082d4 !important;
}

td.is-selected.is-today {
  color: white !important;
}

.switch label input[type='checkbox']:checked + .lever {
  background-color: #4082d4 !important;
}

.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #8bc34a !important;
}

.options-sidenav {
  position: fixed;
  height: 100%;
  background-color: #111;
  /* Black */
  overflow-x: hidden;
  z-index: 1;
  padding-top: 40px !important;
}

.options-sidenav p {
  font-size: x-large;
  color: #4082d4;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 1rem;
}

.options-sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: large;
  color: #818181;
  display: block;
}

.options-sidenav a:hover, .options-sidenav a:active {
  color: #4082d4;
}

.options-main {
  padding: 10px 30px !important;
}

.options-main .header {
  color: #4082d4;
  font-size: 3rem;
  padding-bottom: 20px;
}

.options-main .content {
  font-size: medium !important;
}

.options-main .profil .content .row:nth-child(4) label {
  padding-left: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.options-main .profil .content .row:nth-child(4) label.active {
  padding-left: 0;
}

.options-main .profil .content .row:nth-child(4) .input-field input {
  padding-left: 45px !important;
  width: calc(100% - 50px) !important;
}

.options-main .admins table {
  font-size: small !important;
  border: 0.5px solid #4082d4;
  word-break: break-all;
}

.options-main .laboratoire .types .genes {
  margin-top: 10px;
}

.options-main .laboratoire .types .genes .chip {
  font-size: small !important;
}

.options-main .laboratoire .collection-header {
  margin: 0;
  color: #4082d4;
}

.options-main .laboratoire .collection-item:hover {
  cursor: pointer;
  background-color: #cccccc;
}

.options-main .laboratoire .collection-item .nom {
  font-weight: bold;
}

.options-main .laboratoire .collection-item .desc {
  color: #818181;
}

.options-main .laboratoire .collection-item .row {
  margin: 0;
}

.options-main .laboratoire .collection-item .secondary-content {
  color: rgba(233, 30, 30, 0.5);
}

.options-main .laboratoire .header-desc {
  margin: auto;
  background-color: #cccccc;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 1.2rem;
}

.options-main .laboratoire table {
  font-size: small !important;
  border: 0.5px solid #4082d4;
  word-break: break-all;
}

.options .divider {
  width: 80%;
  margin: 20px auto;
  background-color: #4082d4;
}

.options .input-field {
  padding: 0 !important;
}

.options .input-field label.active {
  margin-top: -5px;
}

.options .input-field input {
  color: #4082d4 !important;
  padding-left: 0 !important;
  width: 100% !important;
  margin: 0 !important;
}

.options .input-field input::-webkit-input-placeholder {
  color: #999999 !important;
}

.options .input-field input:-ms-input-placeholder {
  color: #999999 !important;
}

.options .input-field input::-ms-input-placeholder {
  color: #999999 !important;
}

.options .input-field input::placeholder {
  color: #999999 !important;
}

.options .input-field .datePicker {
  width: 95% !important;
  padding-left: 10px !important;
}

.options .input-field .prefix {
  padding-left: 5px;
}

@media only screen and (max-width: 600px) {
  .options-sidenav {
    position: relative;
    height: 100%;
    z-index: 1;
    margin: 0 !important;
  }
  .options-sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: large;
    color: #818181;
    display: inline-block;
    margin-left: 5px;
  }
  .options-main .header {
    margin: 0 !important;
  }
  .options-main .profil .content .row:nth-child(4) .input-field input {
    padding-left: 45px !important;
    width: calc(100% - 50px) !important;
  }
}
/*# sourceMappingURL=Options.css.map */