@import '../Common';

.options {
 &-sidenav {
  position: fixed;
  height: 100%;
  background-color: #111; /* Black */
  overflow-x: hidden;
  z-index: 1;
  padding-top: 40px !important;
  p {
   font-size: x-large;
   color: $primary-color;
   text-align: center;
   text-transform: uppercase;
   font-weight: lighter;
   margin-top: 1rem;
  }
  a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: large;
   color: #818181;
   display: block;
   &:hover,
   &:active {
    color: $primary-color;
   }
  }
 }
 &-main {
  padding: 10px 30px !important;
  .header {
   color: $primary-color;
   font-size: 3rem;
   padding-bottom: 20px;
  }
  .content {
   font-size: medium !important;
  }
  .profil {
   .content .row:nth-child(4) {
    label {
     padding-left: 35px;
     transition: all 0.25s ease-in-out;
     &.active {
      padding-left: 0;
     }
    }
    .input-field {
     input {
      padding-left: 45px !important;
      width: calc(100% - 50px) !important;
     }
    }
   }
  }
  .admins {
   table {
    font-size: small !important;
    border: 0.5px solid $primary-color;
    word-break: break-all;
   }
  }
  .laboratoire {
   .types {
    .genes {
     margin-top: 10px;
     .chip {
      font-size: small !important;
     }
    }
   }
   .collection {
    &-header {
     margin: 0;
     color: $primary-color;
    }
    &-item {
     &:hover {
      cursor: pointer;
      background-color: $mygray4;
     }
     .nom {
      font-weight: bold;
     }
     .desc {
      color: $text-color;
     }
     .row {
      margin: 0;
     }
     .secondary-content {
      color: rgba($color: $danger-color, $alpha: 0.5);
     }
    }
   }
   .header-desc {
    margin: auto;
    background-color: $mygray4;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: lighter;
    font-size: 1.2rem;
   }
   table {
    font-size: small !important;
    border: 0.5px solid $primary-color;
    word-break: break-all;
   }
  }
 }
 .divider {
  width: 80%;
  margin: 20px auto;
  background-color: $primary-color;
 }
 .input-field {
  padding: 0 !important;
  label.active {
   margin-top: -5px;
  }
  input {
   color: $primary-color !important;
   padding-left: 0 !important;
   width: 100% !important;
   margin: 0 !important;
   &::placeholder {
    color: $mygray3 !important;
   }
  }
  .datePicker {
   width: 95% !important;
   padding-left: 10px !important;
  }
  .prefix {
   padding-left: 5px;
  }
 }
}

@media only screen and (max-width: $smallWidth) {
 .options {
  &-sidenav {
   position: relative;
   height: 100%;
   z-index: 1;
   margin: 0 !important;
   a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: large;
    color: #818181;
    display: inline-block;
    margin-left: 5px;
   }
  }
  &-main {
   .header {
    margin: 0 !important;
   }
   .profil .content .row:nth-child(4) {
    .input-field {
     input {
      padding-left: 45px !important;
      width: calc(100% - 50px) !important;
     }
    }
   }
  }
 }
}
