@import '../Common';

.options {
 &-sidenav {
  position: fixed;
  height: 100%;
  background-color: #111; /* Black */
  overflow-x: hidden;
  z-index: 1;
  padding-top: 20px;
  p {
   font-size: x-large;
   color: $primary-color;
   text-align: center;
   text-transform: uppercase;
   font-weight: lighter;
   margin-top: 1rem;
  }
  a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: large;
   color: #818181;
   display: block;
   &:hover,
   &:active {
    color: $primary-color;
   }
  }
 }
 &-main {
  padding: 10px 30px !important;
  .header {
   color: $primary-color;
  }
  .content {
   font-size: large !important;
  }
  .profil {
  }
  .admins {
  }
 }
}
