@import '../Common';

.alert-container {
 z-index: 999;
 position: fixed;
 width: 50%;
 //  padding: 0.8rem;
 left: auto;
 right: auto;
 margin: 10px 0 0 10px;
 .alert {
  padding: 0.8rem;
  margin-bottom: 0.3rem;
  opacity: 0.9;
  background-color: $secondary-color; /*COLOR 1 */
  color: $primary-color;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border-radius: 8px;
  &-danger {
   background-color: $danger-color; /*COLOR 2 */
   color: $mygray4;
  }
  &-success {
   background-color: $success-color; /*COLOR 3 */
   color: $mygray4;
  }
  &-warning {
   background-color: $warning-color; /*COLOR 4 */
   color: black;
  }
  &-info {
   background-color: $info-color; /*COLOR 5 */
   color: $mygray4;
  }
 }
}
