$primary-color: black;

$secondary-color: #333;

$danger-color: #e91e1e;
$warning-color: #f87d09;
$info-color: #29d2e4;
$success-color: #8bc34a;

$mygray: #333333;
$mygray2: #666666;
$mygray3: #999999;
$mygray4: #cccccc;
