input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='username']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4082d4 !important;
  -webkit-box-shadow: 0 1px 0 0 #4082d4 !important;
          box-shadow: 0 1px 0 0 #4082d4 !important;
}

.progress {
  background-color: rgba(64, 130, 212, 0.5) !important;
}

.progress .indeterminate {
  background-color: #8bc34a !important;
}

.datepicker-date-display {
  background-color: #4082d4 !important;
}

.datepicker-day-button:focus {
  color: white !important;
  background-color: #a2b0b6 !important;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li > span,
.is-today {
  color: #4082d4 !important;
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
  background-color: #4082d4 !important;
}

td.is-selected.is-today {
  color: white !important;
}

.switch label input[type='checkbox']:checked + .lever {
  background-color: #4082d4 !important;
}

.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #8bc34a !important;
}

.app {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.app .main {
  padding-top: 45px;
}

.modal {
  top: 10%;
}

.modal h4 {
  color: #4082d4;
  text-transform: uppercase;
}

.modal-close {
  background-color: #4082d4 !important;
  color: white !important;
}

#AdminModal .input-field input {
  padding-left: 45px !important;
  width: calc(100% - 50px) !important;
}

#AdminModal .input-field label {
  padding-left: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#AdminModal .input-field label.active {
  padding-left: 0;
}

.side-active {
  color: #4082d4 !important;
}

.danger {
  color: #e91e1e !important;
}

.warning {
  color: #f87d09 !important;
}

.info {
  color: rgba(64, 130, 212, 0.75) !important;
}

.center-text {
  text-align: center !important;
}

button.mymodal-trigger {
  background: none;
  border: none;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

button.mymodal-trigger:focus {
  background: none;
}

button.mymodal-trigger:hover {
  background-color: rgba(153, 153, 153, 0.5);
}
/*# sourceMappingURL=App.css.map */