@import 'Common';

.app {
 width: 100%;
 min-width: fit-content;
 .main {
  padding-top: 45px;
 }
}

.modal {
 top: 10%;
 h4 {
  color: $primary-color;
  text-transform: uppercase;
 }
 &-close {
  background-color: $primary-color !important;
  color: white !important;
 }
}
#AdminModal {
 .input-field {
  input {
   padding-left: 45px !important;
   width: calc(100% - 50px) !important;
  }
  label {
   padding-left: 35px;
   transition: all 0.25s ease-in-out;
   &.active {
    padding-left: 0;
   }
  }
 }
}

.side-active {
 color: $primary-color !important;
}

.danger {
 color: $danger-color !important;
}

.warning {
 color: $warning-color !important;
}

.info {
 color: rgba($color: $primary-color, $alpha: 0.75) !important;
}

.center-text {
 text-align: center !important;
}

button.mymodal-trigger {
 background: none;
 border: none;
 margin: auto;
 display: flex;
 justify-content: center;
 border-radius: 8px;
 &:focus {
  background: none;
 }
 &:hover {
  background-color: rgba($color: $mygray3, $alpha: 0.5);
 }
}
