#AdminModal {
 .input-field {
  input {
   padding-left: 45px !important;
   width: calc(100% - 50px) !important;
  }
  label {
   padding-left: 35px;
   transition: all 0.25s ease-in-out;
   &.active {
    padding-left: 0;
   }
  }
 }
}
